@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ChildsHandwriting';
  src: url('../public/fonts/ChildsHandwriting-8AX2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@keyframes grow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
